<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		
		<!-- Define the connection string for the application
		  <add key="aspnet_staterKits_TimeTracker_DataAccessLayerType" value="ASPNET.StarterKit.BusinessLogicLayer.TimeEntry"/>
		-->
		<add key="aspnet_staterKits_TimeTracker_DataAccessLayerType" value="ASPNET.StarterKit.DataAccessLayer.SQLDataAccess"/>

		<!-- Set the Default Role for New Users
		  0 = Project Administrator
		  1 = Project Manager
		  2 = Consultant
		-->
		<add key="DefaultRoleForNewUser" value="0"/>

		<!-- Define if an anonymousUser is allow to create new users
		  0 = false
		  1	= true
		-->
		<add key="AllowUserCreationForAnonymousUsers" value="1"/>

		<!-- Define the location of the user account 
		  0 = WindowsSAM
		  1 = ActiveDirectory
		  2 = None
		-->
		<add key="UserAccountSource" value="WindowsSAM" />

	</appSettings>

	<system.web>
		<pages maintainScrollPositionOnPostBack="True" />
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>

	<location path="Calendar.aspx">
		<system.web>
			<authorization>
				<allow roles="Consultant,ProjectManager,ProjectAdministrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="login.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="Desktop.master">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="Project_Details.aspx">
		<system.web>
			<authorization>
				<allow roles="ProjectManager,ProjectAdministrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Project_List.aspx">
		<system.web>
			<authorization>
				<allow roles="ProjectManager,ProjectAdministrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Reports_Project.aspx">
		<system.web>
			<authorization>
				<allow roles="ProjectManager,ProjectAdministrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Reports_Resources.aspx">
		<system.web>
			<authorization>
				<allow roles="ProjectManager,ProjectAdministrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="script.js">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="TimeEntry.aspx">
		<system.web>
			<authorization>
				<allow roles="Consultant,ProjectManager,ProjectAdministrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="timetracker.css">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="User_Create.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="User_List.aspx">
		<system.web>
			<authorization>
				<allow roles="ProjectAdministrator" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="images">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	
</configuration>
