<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <!--
  Use this section to specify custom application settings. These settings
  are used inside the code on many pages. You can modify them to suit your setup.
  -->
  <appSettings>
    <add key="pagetitle" value="Job Site Starter Kit (Ver.1.0)"></add>
    <add key="sitelogo" value="logo.gif"></add>
    <add key="jobseekerfolder" value="jobseeker"></add>
    <add key="employerfolder" value="employer"></add>
    <add key="adminfolder" value="admin"></add>
    <add key="imagefolder" value="images"></add>
    <add key="jobseekerrolename" value="jobseeker"></add>
    <add key="employerrolename" value="employer"></add>
    <add key="adminrolename" value="admin"></add>
    <add key="webmasteremail" value="webmaster@somesite.com"></add>
    <add key="advertiseemail" value="sales@somesite.com"></add>
  </appSettings>

  <!--
  These are the connection string used for your application specific data and
  ASP.NET provider (membership, roles etc.)
  You can change them as per your setup.
  -->
  <connectionStrings>
    <!--<add name="connectionstring" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|JsskDb.mdf&quot;;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="MyProviderConnectionString" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;AttachDbFilename=|DataDirectory|JsskDb.mdf;User Instance=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="connectionstring" connectionString="Server=(localdb)\MSSQLLocalDB;Database=JSSKDB;Trusted_Connection=True;"/>
    <add name="MyProviderConnectionString" connectionString="Server=(localdb)\MSSQLLocalDB;Database=JSSKDB;Trusted_Connection=True;"/>-->
  </connectionStrings>

  <location path="changepassword.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <!--
    This is the default theme applied to the site. 
    You can build your own themes and change this setting accordingly.
    -->

    <pages theme="YellowShades"></pages>

    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <customErrors mode="Off" defaultRedirect="customerrorpage.aspx"></customErrors>

    <anonymousIdentification enabled="true"/>

    <authentication mode="Forms"/>

    <membership defaultProvider="MyProvider">
      <providers>
        <add connectionStringName="MyProviderConnectionString"
         applicationName="/JobSiteStarterKit" description="" requiresUniqueEmail="false"
         enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false"
         passwordFormat="Hashed" name="MyProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>

    <roleManager enabled="True" defaultProvider="MyProvider" domain="jobstarterkit">
      <providers>
        <add connectionStringName="MyProviderConnectionString"
         applicationName="/JobSiteStarterKit" description="" name="MyProvider"
         type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>

    <profile defaultProvider="MyProvider">
      <providers>
        <add connectionStringName="MyProviderConnectionString" applicationName="/JobSiteStarterKit" description="" name="MyProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="UserName" type="System.String"/>
        <add name="Email" type="System.String"/>
        <add name="FirstName" type="System.String" allowAnonymous="true"/>
        <add name="LastName" type="System.String" allowAnonymous="true"/>
        <group name="JobSeeker">
          <add name="ResumeID" type="System.Int32"/>
        </group>
        <group name="Employer">
          <add name="CompanyID" type="System.Int32"/>
        </group>
      </properties>
    </profile>

    <webParts>
       <personalization defaultProvider="JSSKWebPartProvider">
        <providers>
          <add connectionStringName="MyProviderConnectionString"
            name="JSSKWebPartProvider" 
            type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider, System.Web, 
        Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </providers>
      </personalization>
    </webParts>

  </system.web>

  <location path="employer">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="jobseeker">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>
