<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
    </system.web>
    <connectionStrings>
        <remove name="RemoteSqlSever" />
        <clear />
        <add name="RemoteSqlServer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=dotnet;Data Source=[YOUR SQL SERVER NAME].appmig.local" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
