<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="PostAd.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="EditPhotos.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="MyAds.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="MyProfile.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<customErrors defaultRedirect="Error.aspx" mode="Off"/>
		<pages styleSheetTheme="Red"/>
		<authentication mode="Forms"/>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="classifiedsConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<profile enabled="true">
			<properties>
				<add name="FirstName" type="System.String"/>
				<add name="LastName" type="System.String"/>
				<add name="MemberId" defaultValue="0" type="System.Int32"/>
				<group name="Core"/>
			</properties>
		</profile>
		<roleManager enabled="true"/>
		<compilation debug="false"/>
		<siteMap defaultProvider="RoleEnabled_AspNetXmlSiteMapProvider" enabled="true">
			<providers>
				<clear/>
				<add name="RoleEnabled_AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
	<connectionStrings>
		<!--<add name="classifiedsConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\classifiedsdb.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="classifiedsConnection" connectionString="Server=(localdb)\MSSQLLocalDB;Database=CLASSIFIEDSDB;Trusted_Connection=True;"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=(localdb)\MSSQLLocalDB;Database=CLASSIFIEDSDB;Trusted_Connection=True;" />-->
  </connectionStrings>
	<system.net>
		<mailSettings>
			<smtp>
				<network 
             host="yourSMTPhostname" 
             port="25" 
             defaultCredentials="true" 
             userName="enterUserNameHereIfRequired" 
             password="enterPasswordIfRequired"
         />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
