<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
    <!--<add name="aspnet_staterKits_TimeTracker" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDBFilename=|DataDirectory|TimeTracker.mdf;User Instance=true" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDBFilename=|DataDirectory|TimeTracker.mdf;User Instance=true" />-->
    <add name="aspnet_staterKits_TimeTracker" connectionString="Server=(localdb)\MSSQLLocalDB;Database=TIMETRACKERDB;Trusted_Connection=True;" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=(localdb)\MSSQLLocalDB;Database=TIMETRACKERDB;Trusted_Connection=True;" />
  </connectionStrings>
	<system.web>
		<siteMap defaultProvider="AspNetXmlSiteMapProvider" enabled="true">
			<providers>
				<clear />
				<add name="AspNetXmlSiteMapProvider"
					type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					siteMapFile="web.sitemap" 
					securityTrimmingEnabled="true"  />
			</providers>
		</siteMap>
		<authentication mode="Forms">
			<forms loginUrl="~/TimeTracker/login.aspx"/>
		</authentication>
		<compilation debug="false" />
		<customErrors mode="Off"/>
		<machineKey decryptionKey="AutoGenerate,IsolateApps"/>
		<roleManager enabled="true" />
	</system.web>
</configuration>
